{% extends 'base.html' %}

{% block title %}Administrador{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5 shadow">
            <div class="card-header bg-primary text-white">
                <h3 class="card-title text-center">Panel de Administrador</h3>
            </div>
            <div class="card-body">
                <p class="text-center">Bienvenido a la página de administrador. Aquí puedes gestionar los expedientes y usuarios.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Gestionar Expedientes</a>
                    <a href="#" class="btn btn-success">Gestionar Usuarios</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}