{% extends 'base.html' %}

{% block title %}Agregar Expediente{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card mt-2 shadow">
            <div class="card-header text-white">
                <h3 class="card-title text-center">Agregar Expediente</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="expediente">Expediente:</label>
                            <input type="text" class="form-control" id="expediente" name="expediente" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="junta">Junta:</label>
                            <input type="text" class="form-control" id="junta" name="junta" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="tomo">Tomo:</label>
                            <input type="text" class="form-control" id="tomo" name="tomo" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="actor_nombre">Actor (Nombre):</label>
                            <input type="text" class="form-control" id="actor_nombre" name="actor_nombre" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="mujer_numero">Mujer:</label>
                            <input type="text" class="form-control" id="mujer_numero" name="mujer_numero" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="hombre_numero">Hombre:</label>
                            <input type="text" class="form-control" id="hombre_numero" name="hombre_numero" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="demandado_nombre">Demandado:</label>
                            <input type="text" class="form-control" id="demandado_nombre" name="demandado_nombre">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="hombre_numero_0">Hombre [0]:</label>
                            <input type="text" class="form-control" id="hombre_numero_0" name="hombre_numero_0">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="mujer_numero_0">Mujer [0]:</label>
                            <input type="text" class="form-control" id="mujer_numero_0" name="mujer_numero_0">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="persona_moral_numero">Persona Moral:</label>
                            <input type="text" class="form-control" id="persona_moral_numero" name="persona_moral_numero">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="iebem">IEBEM:</label>
                            <input type="text" class="form-control" id="iebem" name="iebem">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="servicios_salud">Servicios Salud:</label>
                            <input type="text" class="form-control" id="servicios_salud" name="servicios_salud">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="poder_ejecutivo">Poder Ejecutivo:</label>
                            <input type="text" class="form-control" id="poder_ejecutivo" name="poder_ejecutivo">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="ayuntamientos">Ayuntamientos:</label>
                            <input type="text" class="form-control" id="ayuntamientos" name="ayuntamientos">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="otros_organismos">Otros Organismos:</label>
                            <input type="text" class="form-control" id="otros_organismos" name="otros_organismos">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="no_se_ha_notificado_a_las_partes">No notificado:</label>
                            <input type="text" class="form-control" id="no_se_ha_notificado_a_las_partes" name="no_se_ha_notificado_a_las_partes">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="empl_no_realizado">Empl. no realizado:</label>
                            <input type="text" class="form-control" id="empl_no_realizado" name="empl_no_realizado">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="empl_exhorto">Empl. exhorto:</label>
                            <input type="text" class="form-control" id="empl_exhorto" name="empl_exhorto">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="exhortos_sin_enviar">Exhortos sin enviar:</label>
                            <input type="text" class="form-control" id="exhortos_sin_enviar" name="exhortos_sin_enviar">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="exhortos_cdmx">Exhortos CDMX:</label>
                            <input type="text" class="form-control" id="exhortos_cdmx" name="exhortos_cdmx">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="exhortos_foraneos">Exhortos foráneos:</label>
                            <input type="text" class="form-control" id="exhortos_foraneos" name="exhortos_foraneos">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cde">CDE:</label>
                            <input type="text" class="form-control" id="cde" name="cde">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="tercero_llamado_a_juicio">Tercero llamado:</label>
                            <input type="text" class="form-control" id="tercero_llamado_a_juicio" name="tercero_llamado_a_juicio">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="oap">OAP:</label>
                            <input type="text" class="form-control" id="oap" name="oap">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="desahogo_pruebas">Desahogo pruebas:</label>
                            <input type="text" class="form-control" id="desahogo_pruebas" name="desahogo_pruebas">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="test_falta_citar">Test. falta citar:</label>
                            <input type="text" class="form-control" id="test_falta_citar" name="test_falta_citar">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="periciales_partes">Periciales partes:</label>
                            <input type="text" class="form-control" id="periciales_partes" name="periciales_partes">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="pericial_tercero">Pericial tercero:</label>
                            <input type="text" class="form-control" id="pericial_tercero" name="pericial_tercero">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="inf_falta_hacer">Inf. falta hacer:</label>
                            <input type="text" class="form-control" id="inf_falta_hacer" name="inf_falta_hacer">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="inf_falta_desahogar">Inf. falta desahogar:</label>
                            <input type="text" class="form-control" id="inf_falta_desahogar" name="inf_falta_desahogar">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="otras_pruebas">Otras pruebas:</label>
                            <input type="text" class="form-control" id="otras_pruebas" name="otras_pruebas">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="alegatos">Alegatos:</label>
                            <input type="text" class="form-control" id="alegatos" name="alegatos">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="prueba_pendiente">Prueba pendiente:</label>
                            <input type="text" class="form-control" id="prueba_pendiente" name="prueba_pendiente">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cierre">Cierre:</label>
                            <input type="text" class="form-control" id="cierre" name="cierre">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="laudo_dictado">Laudo dictado:</label>
                            <input type="text" class="form-control" id="laudo_dictado" name="laudo_dictado">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="absolutorio">Absolutorio:</label>
                            <input type="text" class="form-control" id="absolutorio" name="absolutorio">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="condenatorio">Condenatorio:</label>
                            <input type="text" class="form-control" id="condenatorio" name="condenatorio">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="monto">Monto:</label>
                            <input type="text" class="form-control" id="monto" name="monto">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="auto_ejecucion">Auto ejecución:</label>
                            <input type="text" class="form-control" id="auto_ejecucion" name="auto_ejecucion">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="recurso_revision">Recurso revisión:</label>
                            <input type="text" class="form-control" id="recurso_revision" name="recurso_revision">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="terceria">Tercería:</label>
                            <input type="text" class="form-control" id="terceria" name="terceria">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="remate">Remate:</label>
                            <input type="text" class="form-control" id="remate" name="remate">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="inactividad_1_anio">Inactividad 1 año:</label>
                            <input type="text" class="form-control" id="inactividad_1_anio" name="inactividad_1_anio">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="inactividad_2_anios_mas">Inactividad 2+ años:</label>
                            <input type="text" class="form-control" id="inactividad_2_anios_mas" name="inactividad_2_anios_mas">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="amparo_indirecto">Amparo indirecto:</label>
                            <input type="text" class="form-control" id="amparo_indirecto" name="amparo_indirecto">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="amparo_directo_cumpl">Amp. directo cumpl:</label>
                            <input type="text" class="form-control" id="amparo_directo_cumpl" name="amparo_directo_cumpl">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="sustitucion_patronal">Sust. patronal:</label>
                            <input type="text" class="form-control" id="sustitucion_patronal" name="sustitucion_patronal">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="no_interpuesta">No interpuesta:</label>
                            <input type="text" class="form-control" id="no_interpuesta" name="no_interpuesta">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="prescripcion">Prescripción:</label>
                            <input type="text" class="form-control" id="prescripcion" name="prescripcion">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="depuracion">Depuración:</label>
                            <input type="text" class="form-control" id="depuracion" name="depuracion">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="regularizar">Regularizar:</label>
                            <input type="text" class="form-control" id="regularizar" name="regularizar">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="reviso_capturo">Revisó y capturó:</label>
                            <input type="text" class="form-control" id="reviso_capturo" name="reviso_capturo" required>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-agregar">Guardar</button>
                        <a href="{% url 'bienvenida' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}